<!DOCTYPE html>
<html>
    <head>
        <title>CSE 312: Final Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.min.js"></script>
        <script type="module" src="js/config.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>