<!DOCTYPE html>
<html>
    <head>
        <title>CSE 312: Final Project</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>