<div id="app_container">
    <div id="display">
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/game.js"></script>
    </div>
    <div id="server_info">
        {{username}}<br><br><br>
        Players on server:
        <hr>
        <div id="online"></div>
    </div>
    <div id="player_info">
        Kills: <div id="kills">{{kills}}</div><br>
        Deaths: <div id="deaths">{{deaths}}</div>
    </div>
</div>