<div id="app_container">
    <div id="display">
        
    </div>
    <div id="server_info">
        Your Username: {{username}}<br><br><br>
        Players on server:
        <hr>
        Player 1<br>
        Player 2<br>
        Player 3<br>
        Player 4<br>
        Player 5<br>
        Player 6<br>
        Player 7<br>
        Player 8<br>
    </div>
    <div id="player_info">
        Kills: {{kills}}<br>
        Deaths: {{deaths}}
    </div>
</div>