<h1>Sign In:</h1>
<form action="/signedIn" method="POST">
    <label for="username">
        Username:<br>
        <input type="text" name="username">
        <div style="color: red;">{{error}}</div>
    </label>
    <br><br>
    <label for="password">
        Password:<br>
        <input type="password" name="password">
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>
<form action="/register" method="GET">
    <input type="submit" value="Register">
</form>